apiVersion: v1
kind: ConfigMap
metadata:
  name: customer-ui-nginx-conf
  namespace: msa
data:
  default.conf: |
    server {
        listen 80;
        server_name _;

        root /usr/share/nginx/html;
        index index.html;

        location /api/customer/ {
            proxy_pass http://backend-api.msa.svc.cluster.local:8000/api/customer/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }

        location / {
            try_files $uri $uri/ /index.html;
        }
    }

