apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: customer-ui-hpa
  namespace: msa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: customer-ui

  minReplicas: 1
  maxReplicas: 4

  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50

