apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: msa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8
          env:
            - name: DB_HOST
              value: "mysql"
            - name: MYSQL_ROOT_PASSWORD
              value: "pass123"
            - name: MYSQL_DATABASE
              value: "shoppingdb"
            - name: MYSQL_USER
              value: "shop"
            - name: MYSQL_PASSWORD
              value: "pass123"
          ports:
            - containerPort: 3306
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: mysql-storage
      volumes:
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: mysql-pvc

